body {
    font-family: 'Arial', sans-serif;
    background-color: #fdfdfd;
}

/* Navbar brand styling */
.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

/* Navbar items hover effect */
.nav-link {
    font-size: 1.1rem;
    transition: 0.3s;
}

.nav-link:hover {
    color: #f8d210 !important;
}

/* Make storage info text bold */
.navbar .text-white strong {
    font-weight: bold;
}

.card-body p {
    margin-bottom: 0.5rem;
}

.card-body i {
    margin-right: 6px;
    color: #6c757d;
}
